@if(edit==false){
<div class="container">
<br>
<label for="">Nome:{{dadosOriginais.Nome}}</label>
<br>
<label for="">Email: {{dadosOriginais.Email}}</label>
<br>
<label for="">Endereço: {{dadosOriginais.Endereco}}</label>
<br>
<label for="">Telefone: {{dadosOriginais.Telefone}}</label>
<br>
<label for="">Usuario: {{dadosOriginais.Usuario}}</label>

<br/>
<label for="">Biografia: {{dadosOriginais.Biografia}}</label>
<br>
<button (click)="editar()">editar</button>
</div>
}@else{
<div class="container">
<form [formGroup]="form">
  <label>Nome: 
    <input formControlName="Nome" />
  </label>
  <br>
  <label>Email:
     <input formControlName="Email" />
  </label>
  <br>
  <label>Telefone: 
    <input formControlName="Telefone" />
  </label>
  <br>
  <label>Usuário: 
    <input formControlName="Usuario" />
  </label>
  <br>
  <label>Senha: 
    <input type="password" formControlName="Senha" />
  </label>
  <br>
  <label>Endereço: 
    <input formControlName="Endereco" />
  </label>
  <br>
  <label>Biografia: 
    <input formControlName="Biografia" />
  </label>
  <br>
  <button (click)="salvar()">Salvar</button>
</form>
</div>
}
<div class="link-container">
<a routerLink="/sobre" class="link-custom">Sobre o App</a>
<a routerLink="/contato"class="link-custom">Nos Contate</a>
</div>



