@If(edit==false){
<br>
<label for="">Nome:</label>
<br/>
<label for="">Email:</label>
<br>
<label for="">Endereço:</label>
<br/>
<label for="">Telefone:</label>
<br>
<label for="">Usuario:</label>
<br/>
<label for="">Biografia:</label>
}@Else{

<br>
<label for="">Nome:</label>
<input></input>
<br/>
<label for="">Email:</label>
<input></input>
<br>
<label for="">Endereço:</label>
<input></input>
<br/>
<label for="">Telefone:</label>
<input></input>
<br>
<label for="">Usuario:</label>
<input></input>
<br/>
<label for="">Biografia:</label>
<input></input>
}
