@if(edit==false){
<br>
<label for="">Nome:{{dados.Nome}}</label>

<br/>
<label for="">Email: {{dados.Email}}</label>
<br>
<label for="">Endereço: {{dados.Endereco}}</label>
<br/>
<label for="">Telefone: {{dados.Telefone}}</label>

<br>
<label for="">Usuario: {{dados.Usuario}}</label>

<br/>
<label for="">Biografia: {{dados.Biografia}}</label>

}@else{

<br>
<label for="">Nome:</label>
<input id="Senha" type="string"formControlName="Senha"/>
<br/>
<label for="">Email:</label>
<input id="Senha" type="string"formControlName="Senha"/>
<br>
<label for="">Endereço:</label>
<input id="Senha" type="string"formControlName="Senha"/>
<br/>
<label for="">Telefone:</label>
<input id="Senha" type="string"formControlName="Senha"/>
<br>
<label for="">Usuario:</label>
<input id="Senha" type="string"formControlName="Senha"/>
<br/>
<label for="">Biografia:</label>
<input id="Senha" type="string"formControlName="Senha"/>
}
<button (click)="editar()">editar</button>

